.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  padding-right: 16px;
  font-size: 4vw;
}

.imag {
  width: 8%;
  height: 8%;
  border-radius: 8px;
  object-fit: cover;
  padding-right: 10px;
}

.drop-content {
  padding-top: 4%;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

@media (min-width: 600px) {
  .card-header {
    font-size: 3vw;
  }
  .imag {
    width: 6%;
    height: 6%;
  }
}

@media (min-width: 1024px) {
  .card-header {
    font-size: 1vw;
  }
  .imag {
    width: 4%;
    height: 4%;
  }
}

@media (min-width: 1440px) {
  .card-header {
    font-size: 1vw;
  }
}
