.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
}

.carousel {
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  margin: 10px 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 50%;
  box-sizing: border-box;
  text-align: center;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
}

.selected {
  border: 2px solid black;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.carousel-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.prev {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}
